<section class="cart_container">
  <h1>Cart</h1>
  <h3>Products</h3>
  {{#each products}}
  <div>
    <p>{{this.product.title}}</p>
    <span>${{this.product.price}} x {{this.quantity}} Unidades</span>
  </div>
  {{/each}}
</section>