<header>
  <nav>
    <ul class="nav">
      <li><a class="link-item" href="/">Home</a></li>
      <li><a class="link-item" href="/products">Products</a></li>
      <li><a class="link-item" href="/carts/6461909ef9aaec0e50b82c2a">Cart</a></li>
      <li><a class="link-item" href="/newproduct">New Product</a></li>
    </ul>
  </nav>
</header>